<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8">
    <title>Poezii – Traian Dorz</title>
    <meta name="description" content="Opera poetică a psalmistului Oastei Domnului, Traian Dorz.">
    <meta name="author" content="Daniel Pintilei">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lora:400,400i|Old+Standard+TT&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i|Old+Standard+TT&amp;subset=latin-ext">
    <meta name="theme-color" content="#ecce93">
    <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Poezii">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta property="og:image" content="https://www.poeziitraiandorz.ro/static/og-image.jpg">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <% for (var chunk of webpack.chunks) {
      for (var file of chunk.files) {
        if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
  </head>
  <body style="margin: 0; height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div id="app">
      <svg width="200" height="2" viewBox="0 0 200 2">
        <line class="loader" x1="0" y1="1" x2="200" y2="1" stroke-width="2" stroke="#ecce93" />
        <style>
          @keyframes loader {
            to {
              stroke-dashoffset: -200;
            }
          }
          .loader {
            stroke-dasharray: 200;
            stroke-dashoffset: 200;
            animation: loader 2s infinite ease-in;
          }
        </style>
      </svg>
    </div>
    <script>
      (function () {
        'use strict';
        const isLocalhost = Boolean(window.location.hostname === 'localhost' ||
          window.location.hostname === '[::1]' ||
          window.location.hostname.match(
            /^127(?:\.(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}$/
          )
        );
        window.addEventListener('load', function () {
          if ('serviceWorker' in navigator &&
            (window.location.protocol === 'https:' || isLocalhost)) {
            navigator.serviceWorker.register('service-worker.js')
              .then(function (registration) {
                registration.onupdatefound = function () {
                  if (navigator.serviceWorker.controller) {
                    const installingWorker = registration.installing;
                    installingWorker.onstatechange = function () {
                      switch (installingWorker.state) {
                        case 'installed':
                          break;
                        case 'redundant':
                          throw new Error('The installing ' +
                            'service worker became redundant.');
                        default:
                      }
                    };
                  }
                };
              }).catch(function (e) {
                console.error('Error during service worker registration:', e);
              });
          }
        });
      })();
    </script>
  </body>
</html>
