$navbarHeight = 64px
$breakpointMobileDown = 900px
$breakpointMobile = 901px
$sidebarLeftWidth = 300px
$sidebarRightWidth = 300px
$sidebarDuration = 0.3s
$sidebarTiming = ease-in-out
$pickerDuration = 0.15s
$iconOpacity = 0.8
$linkHoverBackground = hsla(0, 0%, 50%, 0.2)
$linkSelectedBackground = hsla(0, 0%, 50%, 0.5)
$scrollbarTrackBackground = hsla(0, 0%, 50%, 0.2)
$scrollbarThumbBackground = hsla(0, 0%, 50%, 0.5)
$poezieButtonGroupBottom = 15px
$poezieButtonGroupSide = 20px
