$breakpointMobile = 900px
$backdropColor = hsla(0, 0%, 0%, 0.4)
$sidebarLeftWidth = 300px
$sidebarRightWidth = 300px
$sidebarDuration = 0.3s
$sidebarTiming = ease-in-out
$navbarHeight = 64px
$iconHoverOpacity = 0.7
$poezieHoverBackground = hsla(0, 0%, 50%, 0.2)
$poezieSelectedBackground = hsla(0, 0%, 50%, 0.5)
$scrollbarTrackBackground = hsla(0, 0%, 50%, 0.2)
$scrollbarThimbBackground = hsla(0, 0%, 50%, 0.5)
