$font1 = 'Old Standard TT', serif
$font2 = 'Lora', serif

$navbarHeight = 64px

$breakpointMobile = 1100px
$breakpointMobileSmall = 600px

$sidebarLeftWidth = 300px
$sidebarRightWidth = 300px
$sidebarDuration = 0.3s
$sidebarTiming = ease-in-out

$popDuration = 0.15s
$popTiming = ease-in-out

$iconOpacity = 0.8

$linkHoverBackground = hsla(0, 0%, 50%, 0.07)
$linkSelectedBackground = hsla(0, 0%, 50%, 0.12)

$scrollbarTrackBackground = hsla(0, 0%, 50%, 0.05)
$scrollbarThumbBackground = hsla(0, 0%, 50%, 0.08)
$poezieButtonGroupBottom = 15px
$poezieButtonGroupSide = 20px
